<!--
Exercise 3: Create simple login page with user id and password and a submit button
-->

<html>
    <head>
        <title>HTML Forms</title>
    </head>
<body>
    <form action="Login.php" method="post">
        <legend><h2><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Log In</b></h2></legend>
        <label><b>UserId&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </b><input type="text" name="userid"></label><br><br>
        <label><b>Password : </b><input type="password" name="pass"></label><br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="SUBMIT">
    </form>
</body>
</html>
