<!--
  Exercise 4: Create a page same as the search page on google. Go to www.google.com In the text box enter Java and search. 
-->

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Google</title>
	<link rel="icon" href="img/favicon.icon">
	<link rel="stylesheet" type="text/css" href="css/style.css"> 
</head>
<body>
	<nav>
	  <a href="#">Gmail</a>
	  <a href="#">Images</a>
	  <img src="img/g-menu.PNG">
	  <button>Sign in</button>
	</nav>


	<section class="section-1">
		<img src="img/logo.png" class="logo">
		<form action="https://www.google.com/search?q=java&sxsrf=APq-WBs0ciBXNsamqXiTCsTvm3C9lfFgvw%3A1646212437436&source=hp&ei=VTUfYtbWGPXa2roPj9S90Ag&iflsig=AHkkrS4AAAAAYh9DZZRkxIrlmg3l8tLxeczZtkpmmxPr&ved=0ahUKEwiW1bmci6f2AhV1rVYBHQ9qD4oQ4dUDCAc&uact=5&oq=java&gs_lcp=Cgdnd3Mtd2l6EAMyBAgjECcyBAgjECcyBwgAELEDEEMyCAgAEIAEELEDMgcIABCxAxBDMg0IABCABBCHAhCxAxAUMggIABCABBCxAzIHCAAQsQMQQzIHCC4Q1AIQQzIICC4QgAQQsQM6BwgjEOoCECc6DQguEMcBEK8BEOoCECc6BAgAEENQ0AZYkQpgoBdoAXAAeACAAekBiAHOBpIBBTAuMS4zmAEAoAEBsAEK&sclient=gws-wiz" method= "get" target="_blank">><br><br>
			<div class="s-box">
				<img src="img/search.jpg" class="search-icon">
				<input type="text" class="s-input" name="q" id="q" placeholder="Search"/>
				<img src="img/vs.png" class="vs-icon">
				<input type="submit" class="s-btn" value="Google Search">
				<input type="submit" class="s-btn" value="I'm Feeling Lucky">
			</div>
		</form>
		<div class="link">
			<a href="https://integration.anytimedeveloper.com/">AnyTimeDeveloper</a>        
			<a href="https://www.github.com">Github</a>
			<a href="https://www.gmail.com">Gmail</a>
			<a href="https://www.youtube.com/">YouTube</a>
			<a href="https://colab.research.google.com/">Colaboratory</a>
			<a href="https://www.onlinegdb.com/">GDB online Debugger</a>
			<a href="https://www.coursera.org/in">Coursera</a>
			<a href="https://bamu.unionline.in/login"> Bamu Login</a>
		</div>
	
	</section>
	<footer>
		<h4>India</h4>
		<div class="links">
			<div class="link-1">
				<a href="#">Advertising</a>
				<a href="#">Business</a>
				<a href="#">About</a>
				<a href="#">How Search works</a>
			</div>
			<div class="link-2">
				<a href="#">Privacy</a>
				<a href="#">Terms</a>
				<a href="#">Settings</a>
			</div>
		</div>
	</footer>
</body>
</html>
